#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 200;
  background-color: white;
  height: 90px;
}

#header .logo {
  display: inline-block;
  width: 200px;
  text-align: center;
}

#header .logo a img {
  width: 122px;
}

#gnb {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#gnb > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
}

#gnb > ul li a {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  color: #111;
  text-align: center;
  transition: all 0.15s linear;
}

#gnb > ul li a:hover {
  color: #eb6100;
}

#gnb .quick-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

#gnb .quick-menu > ul {
  display: flex;
  align-items: center;
}

#gnb .quick-menu > ul li {
  font-size: 0.82rem;
  color: #999;
}

#gnb .quick-menu > ul li a {
  color: #999;
}

#gnb .quick-menu > ul .divider {
  margin: 0 12px;
}

#gnb .quick-menu .language {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 27px;
  width: 85px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

#gnb .quick-menu .language button {
  font-size: 13px;
  font-weight: bold;
  color: #eb6100;
  border: 0;
  background-color: #fff;
  box-shadow: none;
}

#gnb .quick-menu .sponsorship {
  width: 190px;
  height: 100%;
}

#gnb .quick-menu .sponsorship button {
  width: 100%;
  height: 100%;
  font-size: 22px;
  color: #fff;
  text-align: center;
  border: 0;
  box-shadow: none;
  background-color: #eb6100;
  transition: all 0.15s linear;
}

#gnb .quick-menu .sponsorship button:hover {
  background-color: #144199;
}

#content {
  margin-top: 90px;
}

#content .slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 800px;
  background-image: url("/assets/images/slider_main_pc.jpg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#content .slider .details {
  padding: 0 12%;
  color: #fff;
}
